@import 'data-tables-overrides.css';
@import 'ui-library.css';
@import 'variables.css';
@import 'buttons.css';
@import 'shelves.css';
@import 'errors.css';

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik.ttf') format('truetype');
}

* { box-sizing: border-box; }

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font: 400 normal 18px 'Rubik', sans-serif;
    background-color: var(--light-blue);
    flex-direction: column;
    display: flex;
    padding: 10px;
}

header {
    box-shadow: 0 0 10px var(--dark-blue);
    background-color: var(--white);
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    display: flex;
}

.logo-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.logo-container svg {
    color: var(--dark-grey);
    font-size: 50px;
}

.logo-container h1 {
    color: var(--dark-grey);
    margin: 0 0 0 10px;
    font-size: 25px;
}

nav {
    margin: 0 0 0 50px;
    width: 100%;
}

nav a {
    transition: background-color .3s ease-in-out;
    text-decoration: none;
    display: inline-block;
    color: var(--dark-grey);
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

nav a:after {
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    background-color: var(--dark-grey);
    position: absolute;
    display: block;
    height: 2px;
    content: "";
    left: 50%;
    width: 0;
    top: 5px;
}
nav a:hover:after {
    width: 100%;
    left: 0;
}

.nav-icon {
    display: inline-block;
    width: 22px;
}

nav .logout {
    background-color: var(--light-red);
    color: var(--black);
    float: right;
}

nav .logout:hover {
    background-color: var(--dark-red);
}

nav .logout:hover:after {
    width: 0;
}

main {
    box-shadow: 0 0 10px var(--dark-blue);
    background-color: var(--white);
    border-radius: 25px;
    margin: 25px 0 0 0;
    padding: 15px;
    width: 100%;
    flex: 1;
}

.title {
    color: var(--dark-grey);
    margin: 0 0 25px 0;
}

.table-title {
    color: var(--white);
    margin: 25px 0 15px 0;
}

.default-form .input-wrapper {
    margin: 0 0 25px 0;
}

.default-form .input-wrapper label {
    margin: 0 0 5px 0;
    display: block;
}

.default-form .input-wrapper label .required {
    color: var(--dark-red);
    cursor: help;
}

.default-form .input-wrapper input,
.default-form .input-wrapper textarea {
    font: 400 normal 18px 'Rubik', sans-serif;
    border: 1px solid var(--dark-grey);
    outline: none;
    padding: 10px;
    width: 400px;
}

.default-form .input-wrapper textarea {
    resize: none;
}

.default-form .input-wrapper input:disabled,
.default-form .input-wrapper textarea:disabled {
    background-color: var(--light-grey);
    cursor: not-allowed;
    color: var(--black);
}

.default-form .form-action-wrapper button {
    margin: 0 10px 0 0;
}

.default-table thead th {
    background-color: var(--dark-blue);
    color: var(--white);
}

.default-table tbody td {
    transition: color .3s ease-in-out;
    color: var(--dark-grey);
}

.default-table tbody tr:hover td {
    color: var(--dark-blue);
    cursor: pointer;
}

.default-table .table-actions {
    width: 100px !important;
}

.default-table .table-actions a {
    text-decoration: none;
    font-size: 20px;
}

.ico-activate {
    transition: color .3s ease-in-out;
    color: var(--light-green);
}

.ico-activate:hover {
    color: var(--dark-green);
}

.ico-deactivate {
    transition: color .3s ease-in-out;
    color: var(--light-red);
}

.ico-deactivate:hover {
    color: var(--dark-red);
}

.ico-delete {
    transition: color .3s ease-in-out;
    color: var(--light-red);
}

.ico-delete:hover {
    color: var(--dark-red);
}

.ico-edit {
    transition: color .3s ease-in-out;
    color: var(--light-blue);
}

.ico-edit:hover {
    color: var(--dark-blue);
}