.dt-search label {
    font: 400 normal 18px 'Rubik', sans-serif;
}

.dt-search input {
    font: 400 normal 18px 'Rubik', sans-serif;
    background-color: var(--white) !important;
    border: 1px solid var(--dark-grey);
    border-radius: 0 !important;
    padding: 10px !important;
    outline: none;
}

table.dataTable {
    width: 100% !important;
}

div.dt-container .dt-paging .dt-paging-button {
    color: var(--white) !important;
}

div.dt-container .dt-paging .dt-paging-button:hover {
    background-color: var(--dark-blue) !important;
}