@import 'ui-library.css';
@import 'variables.css';
@import 'buttons.css';

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik.ttf') format('truetype');
}

@font-face {
    font-family: 'Playwrite France Moderne';
    src: url('../fonts/PlaywriteFranceModerne.ttf') format('truetype');
}

* { box-sizing: border-box; }

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font: 400 normal 18px 'Rubik', sans-serif;
    background-color: var(--light-blue);
}

main {
    height: 100%;
    width: 100%;
}

div.login-container {
    box-shadow: 0 0 10px var(--dark-blue);
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 25px;
    position: absolute;
    padding: 25px;
    left: 50%;
    top: 50%;
}

div.login-container div.logo-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 0 50px 0;
    display: flex;
}

div.login-container div.logo-container svg {
    color: var(--dark-grey);
    font-size: 75px;
}

div.login-container div.logo-container h1 {
    color: var(--dark-grey);
    margin: 0 0 0 10px;
}

form.login-form div.input-wrapper {
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 25px 0;
    display: flex;
    width: 100%;
}

form.login-form div.input-wrapper svg {
    border: 1px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 22px;
    padding: 10px;
}

form.login-form div.input-wrapper input {
    font: 400 normal 18px 'Rubik', sans-serif;
    border: 1px solid var(--dark-blue);
    outline: none;
    padding: 10px;
    width: 100%;
}

form.login-form button {
    margin: 0 auto 25px auto;
}

div.login-container a {
    text-decoration: none;
    color: var(--black);
    text-align: center;
    display: block;
}

div.login-container a:hover {
    text-decoration: underline;
}