.kpo-notification {
    position: fixed;
    display: none;
    bottom: 10px;
    right: 10px;
}

.kpo-notification-error {
    background: linear-gradient(to bottom, var(--light-red) 5%, var(--dark-red) 100%);
    box-shadow: 0 0 10px var(--dark-grey);
    border-radius: 5px;
    padding: 25px 50px;
}

.kpo-notification-text {
    color: var(--black);
    margin: 0;
}

.kpo-notification-success {
    background: linear-gradient(to bottom, var(--light-green) 5%, var(--dark-green) 100%);
    box-shadow: 0 0 10px var(--dark-grey);
    border-radius: 15px;
    padding: 25px 50px;
}